*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  background-color: #c5e99b;
}

h1{
  position:absolute;
  top:2%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

main{
  border: 3px solid #56445d;
  height:80vh;
  width:80vw;
  margin-top: 2%;
  background-color: #548687;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  position:relative;
}

.subjectlist{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.subjectlist li{
  height: 15%;
  width: 80%;
  border: 1px solid #56445d;
  margin-bottom: 2%;
  background-color: #8fbc94;
  border-radius: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  font-weight: 500;
  opacity: 0.7;
  font-style: italic;
  position:relative;
  display: flex;
  align-items: center;
}

.subjectlist li:hover{
  transform: scale(1.05);
  opacity: 1;
}

.subject{
  width:80%;
  height:23px;
  padding:1% 2%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OpinionCount{
  position:absolute;
  right:10px;
  bottom:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SubjectDeleteBtn{
  background:none;
  border: none;
  cursor: pointer;
  position:absolute;
  right:6px;
  top:2px;
  font-size: 15px;
  display: none;
}

.subjectlist li:hover .SubjectDeleteBtn{
  display: block;
}

.subjectlist li:hover .SubjectDeleteBtn:hover{
  color: red;
}

.pagenation{
  position:absolute;
  bottom:11%;
  display: flex;
  height: 5%;
  width: 85%;
  align-items: center;
  justify-content: start;
}

.pagebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #56445d;
  height:20px;
  width:40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1px;
  border-radius: 3px;
  background-color: #8fbc94;
  margin-left: 15px;
}

.pagebtn:hover{
  background-color: #56445d;
  transform: scale(1.05);
  color: #fff;
}

.pagebtn.focus{
  background-color: #56445d;
  transform: scale(1.05);
  color: #fff;
}

.SubjectAddbtn{
  position:absolute;
  right:10%;
  bottom:5%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2px;
  background-color: #8fbc94;
  border: 1px solid #56445d;
  border-radius: 5px;
}

.SubjectAddbtn:hover{
  background-color: #56445d;
  transform: scale(1.05);
  color: #fff;
}

.addsubject.hidden{
  display:none;
}

.addsubject{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subjectInputAlarm{
  margin-bottom: 10px;
  background-color: #56445d;
  color:#fff;
  opacity: 0.8;
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid #56445d;
  border-radius: 3px;
}

.SubjectTextareaInput{
  background-color: #8fbc94;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: italic;
}

.SubjectSubmitBtn{
  display: block;
  position:relative;
  left:88%;
  top:3%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 5px;
  height:20px;
  width: 40px;
  background-color: #8fbc94;
  border: 1px solid #56445d;
  border-radius: 5px;
}

.SubjectSubmitBtn:hover{
  background-color: #56445d;
  transform: scale(1.05);
  color: #fff;
}

.SubjectSubmitCancleBtn{
  position:relative;
  left:75%;
  bottom:9%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 5px;
  height:20px;
  width: 40px;
  background-color: #8fbc94;
  border: 1px solid #56445d;
  border-radius: 5px;
}

.SubjectSubmitCancleBtn:hover{
  background-color: #420d09;
  transform: scale(1.05);
  color: #fff;
}

.OpinionPage{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  overflow: hidden;
  display:none;
  /* display:flex; */
  justify-content: center;
  align-items: center;
}

.OpinionDisplay{
  height: 70%;
  width: 70%;
  background-color: #8fbc94;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 4px solid #56445d;
  border-radius: 20px;
  padding-top: 3%;
  max-width: 1000px;
}

.opinionInput{
  height: 40%;
  width: 90%;
  background-color: #703809;
  border: 3px solid #56445d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2%;
  position:relative;
}

.OpinionSubject{
  width:90%;
  height:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  font-style: italic;
  color:#c19260;
}

.form_input{
  width:90%;
  height:50%;
  padding-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextareaInput{
  width: 100%;
  height: 90%;
  font-size: 1.2em;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #56445d;
  background-color: #c19260;
}

.submit_btn{
  position:absolute;
  right:5%;
  bottom: 3%;
  width: 100px;
  height: 30px;
  background-color: #c19260;
  border: 2px solid #56445d;
  border-radius: 5px;
}

.submit_btn:hover{
  border: 4px solid #56445d;
  transform: scale(1.1);
  font-weight: 600;
  color: #703809;
}

.lastOpinion{
  height: 50%;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
  position:relative;
}

.lastOpinionTitle{
  font-size: 1.8em;
  font-family: 'Noto Sans KR', sans-serif;
  color:#703809;
  font-weight: 600;
}

.lastOpinion .OpinionCase{
  width:100%;
  background-color: #703809;
  margin-top: 2%;
  color: #c19260;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
  display: flex;
  padding-left: 10px;
  height: 20%;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #56445d;
  opacity: 0.8;
}

.lastOpinion .OpinionContent{
  margin-left: 20px;
  font-size: 1em;
}

.lastOpinion .OpinionCase:hover{
  opacity: 1;
  transform: scale(1.05);
}





